{% include 'header.twig' %}
<style>#bellIcon {
    pointer-events: none;
    opacity: 0.5; 
    cursor: not-allowed; 
}
</style>
    <!-- Main variables *content* -->
            <div class="page-container">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="account-box">
               <div class="account-top">
               </div>
               <div class="account-bottom">
                  <div class="col-md-12">
                      
                      {% if error %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if success %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
                      
                      
                                                               <div class="affiliates-top">
                        <img src="https://cdn.fsksoft.com/master/assets/img/gradient-bg.png">
                        <span>Bem-vindo &nbsp; {{ user['username'] }}</span>
                        <b>{{ user['email'] }}</b>
                     </div>

                   <!--  <div class="a-box">
                        <i class="fi fi-rr-at"></i>
                        <span class="a-box-title">
                           Change your e-mail address.
                        </span>
                        <form id="changeEmailForm"  method="post" action="">
                           <div id="changeEmailError" class="alert alert-dismissible alert-danger hidden"></div>

                           <div class="form-group">
                              <label for="current-email">Current email</label>
                              <span class="form-control" id="current-email" disabled>{{ user['email'] }}</span>
                           </div>

                           <div class="form-group">
                              <label for="new-email">New email</label>
                              <input type="email" class="form-control" id="new-email" name="ChangeEmailForm[email]">
                           </div>

                           <div class="form-group">
                              <label for="current-password">Current password</label>
                              <input type="password" class="form-control" id="current-password" name="ChangeEmailForm[password]">
                           </div>

                           <button type="submit" class="btn btn-blue">Change email</button>
                        </form>
                     </div> -->

                     <div class="a-box">
                     
                        <span class="a-box-title">
                          <i class="fi fi-rr-key"></i> Mude sua senha
                        </span><br>
                        <form  method="post" action="account">
                           
                           <div class="form-group">
                              <label for="current" class="control-label">Senha atual</label>
                              <input type="password" class="form-control" id="current" name="current_password">
                           </div>
                           <div class="form-group">
                              <label for="new" class="control-label">Nova Senha</label>
                              <input type="password" class="form-control" id="new" name="password">
                           </div>
                           <div class="form-group">
                              <label for="confirm" class="control-label">Confirme a nova senha</label>
                              <input type="password" class="form-control" id="confirm" name="confirm_password">
                           </div>
                           
                           <button type="submit" class="btn btn-blue">Mude sua senha</button>
                        </form>
                     </div>

                    
                     
                  <!--   <div class="a-box">
                        <i class="fi fi-rr-time-quarter-to"></i>
                        <span class="a-box-title">
                           Change the account time period.
                        </span>
                        <form  action="" method="post">
                           <div class="form-group">
                              <label for="timezone" class="control-label">Timezone</label>
                              <select name="SettingsFrom[timezone]" id="timezone" class="form-control all-dropdown" style="width: 100%;">
                                                               <option value="-43200" >(UTC -12:00) Baker/Howland Island</option>
                                                       
                                                            </select>
                           </div>
                          
                           <button type="submit" class="btn btn-blue">Save</button>
                        </form>
                     </div> -->

                     <div class="a-box">
                       
                        <span class="a-box-title">
                         <i class="fi fi-rr-api"></i>   Criar chave de API
                        </span>
                        <form  action="/account/newapikey" method="post">
                           <div class="form-group">
                              <label for="key" class="control-label">API key</label>
                                                         </div>
                          
                           <button type="submit" class="btn btn-blue">Gerar nova api key new</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
                        <div class="bottom-navigaiton">
                                 <a class="bottom-item " href="/">
                                    <i class="fi fi-rr-shopping-cart"></i>
                                    </a>
                                 <a class="bottom-item " href="/services">
                                    <i class="fi fi-rr-clipboard-list-check"></i>
                                    </a>
                                 <a class="bottom-item " href="/orders">
                                    <i class="fi fi-rr-bags-shopping"></i>
                                    </a>
                                 <a class="bottom-item " href="/addfunds">
                                    <i class="fi fi-rr-money-check"></i>
                                    </a>
                                 <a class="bottom-item " href="/api">
                                    <i class="fi fi-rr-display-code"></i>
                                    </a>
                           </div>
                        


      {#      <div id="lnc"></div>#}
      {#                  <div id="voiceerror" class="notification"><i class="fa fa-times"></i>The browser does not support</div>#}
      {#      <div id="voiceclose">#}
      {#         <lottie-player src="https://cdn.fsksoft.com/voice.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player>#}
      {#         <lottie-player src="https://cdn.fsksoft.com/voicebar.json" class="voice-bar" background="transparent"  speed="1"  style="width: 250px;"  loop  autoplay></lottie-player>#}
      {#         I listen to you, tell me your platform name or request#}
      {#      </div>#}
      {#   </div>#}
      {#</div>#}
      <div class="notify-box">
         <div class="notify-top">
            <span>Duyurular</span>
            <i class="fa fa-times" onclick="notifyClose()"></i>
         </div>
         <div class="notify-list" id="notify-list">
         </div>
      </div>
      <div class="modal_container" id="modal-container99999999">
         <div class="modal_content">
            <div class="modal_close close-modal99999999" title="Close">
               <span>Voice Search</span>
               <i class="fa fa-times"></i>
            </div>
            <div class="modal-content">
               <div id="search-value"></div>
            </div>
            <div class="modal-bottom-btn">
               <button class="btn btn-border close-modal99999999">Close</button>
               <button class="btn btn-blue search-modal-btn">Search</button>
            </div>
         </div>
      </div>
      <div class="modal_container" id="modal-container02">
         <div class="modal_content">
            <div class="modal_close close-modal02" title="Close">
               <span>Loading..</span>
               <i class="fa fa-times"></i>
            </div>
            <div class="modal-content">
               <div class="progress">
                  <div class="progress-value" id="uploadProgress"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal_container" id="modal-containerPopup">
         <div class="modal_content">
            <div class="modal_close">
               <span id="popupbaslik"></span>
               <i class="fa fa-times" onclick="closePopup()"></i>
            </div>
            <div class="modal-content">
               <div id="popupsistemi">
               </div>
            </div>
            <div class="progress-bar-modal">
               <span class="bar-modal">
               <span class="progress-modal"></span>
               </span>
            </div>
            <div id="popupbutton">
            </div>
         </div>
      </div>


{% include 'footer.twig' %}
